@tailwind base;
@tailwind components;
@tailwind utilities; 

body {
  background: #000;
}

.section-hero {
 height: calc(100vh - 80px);
}
h1 {
  background: url(../images/line.svg) no-repeat center;
  background-size: 180px;
}

.header {

}